QDialog {
  font-size: 13px;
  background: lime;
}

QLabel {
  font: bold;
}

QLineEdit {
  font: bold;
  color: white;
  font-size: 13px;
  background: lime;
}

QMainWindow {
  background: yellow;
}

QProgressBar {
  font: bold;
  color: a6700;
  background: white;
  text-align: center;
}

QProgressBar::chunk {
  background: black;
}

QTableView {
  font: bold;
  color: white;
  font-size: 13px;
  background: lime;
  selection-background-color: blue;
}
