QDialog {
    font-size: 13px;
    background: lime;
}

QLabel {
    font: bold;
}

QLineEdit {
    font: bold;
    color: white;
    font-size: 12px;
    background: lime;
}

QMainWindow {
    background: yellow;
}

QProgressBar {
    font: bold;
    color: lime;
    background: white;
    text-align: center;
}

QProgressBar::chunk {
    background: black;
}

QTableView {
    font: bold;
    color: white;
    font-size: 13px;
    background: lime;
    selection-background-color: blue;
}
